.loginPage {
    background-image: url('./assets/plane.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.homePage{
    /* background-color: #FFE7B1; #FFE7B1; */
    background-image: url('./assets/positive.png');
    background-size: auto;
    /* background-repeat: no-repeat; */
    height: 100vh;
}

.mainTitle {
    text-align: center;
    padding-top: 10px;
    color: black;
}

#tripp {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px black;
    
}

#wherecard {

    height: 650px;
}

#tripp{
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    text-shadow: 2px 2px black;
}

.mainDiv {
    width: 450px;
    margin: auto;
    margin-top: 40px;
    background-color: whitesmoke;
    padding: 50px;
    /* min-height: 350px; */
}

a {
    font-size:  14px;
    line-height: 18px;
    font-weight: 600;
    color: rgba(var(--d69,0,149,246),1);
    text-decoration: none;
    margin:8px;
}

#homeDiv {
    background-image: url('./assets/desert.jpeg');
}

.titleHeaders {
    color: rgba(var(--f52,142,142,142),1);
    text-align: center;
    margin-right: 10px;
    padding-right: 10px;
}

.randomImages{
    height: 350px;
}

.cardHeaders {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color:black;
}

.cardHeaders:hover{
    text-decoration: none;
    color: rgba(var(--f52,142,142,142),1);
}

.navbar {
    height: 55px;
}

.cardbody {
    background-color: #FEE02E;
}