
.loginPage {
    background-image: url('./assets/palm.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.homePage{
    background-color: whitesmoke;
    height: 100vh;
}

.mainTitle {
    text-align: center;
    padding-top: 10px;
    color: black;
}

#tripp{
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
    text-align: center;

}

.mainDiv {
    width: 450px;
    margin: auto;
    margin-top: 40px;
    background-color: whitesmoke;
    padding: 50px;
    /* min-height: 350px; */
}

a {
    font-size:  14px;
    line-height: 18px;
    font-weight: 600;
    color: rgba(var(--d69,0,149,246),1);
    text-decoration: none;
    margin:8px;
}

#homeDiv {
    background-image: url('./assets/desert.jpeg');
}

.titleHeaders {
    color: rgba(var(--f52,142,142,142),1);
    text-align: center;
    margin-right: 10px;
    padding-right: 10px;
}

.randomImages{
    height: 350px;
}

.cardHeaders {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}